# Symfony
/var/
/vendor/
/public/bundles/
/public/uploads/
/node_modules/
/.env
/.env.local
/.env.*.local
/.env.*.dev.local
/.env.test.local

# Symfony cache
/cache/*
!cache/dev/
!cache/test/
!cache/prod/

# Logs
/logs/*
!.gitkeep

# Assets
/public/assets/
public/hot
/public/build
/public/uploads

# Configuration files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# PHPStorm
*.iml
*.idea/

# Mac OS X
.DS_Store

# Linux
*~
*.swp

# IDE configuration files
/.phpunit.result.cache
/.phpunit.result.cache/

# Composer
composer.lock
composer.phar

# Test files
/tests/Results/
