<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Search</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            text-align: center;
            padding-top: 50px;
        }
        .choice-container {
            display: flex;
            justify-content: center;
            gap: 20px;
        }
        .choice {
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 200px;
            text-align: center;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .choice:hover {
            background-color: #e0e0e0;
        }
        a {
            text-decoration: none;
            color: inherit;
        }
    </style>
</head>
<body>
    <h1>Bienvenue dans la recherche spotify</h1>
    <div class="choice-container">
        <div class="choice">
            <a href="{{ path('search_artist') }}">
                <h2>Rechercher un Artiste</h2>
            </a>
        </div>
        <div class="choice">
            <a href="{{ path('search_music') }}">
                <h2>Rechercher une Musique</h2>
            </a>
        </div>
    </div>
</body>
</html>